.InvestScrollStyle {
  max-height: 100vh;
  overflow-y: scroll;
}
.container {
  margin: auto;
  width: 100%;
}
.investment-card {
  margin: 10px;
  /* border-radius: 20px; */
  width: 300px;
}

.form-inline {
  margin: auto;
  transform: translateX(35%);
}
